<h1 class="text-center mt-4">Eligibility Criteria</h1>
<div class="container">
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               Eligibility Criteria for adoption (Kafala)
            </div>
            <div class="card-body text-left">
               <li>The religion of the Kafala family should be as that of the child and at least one spouse must be Egyptian.</li>
               <br/><br/>
               <li>The family should consist of a married couple who possess the moral and social maturity required, based on the social research carried out by the specialized social 
                  administration and the relevant national association or institution. They must be married for at least three years and 
                  the age of each spouse should not be below 25 nor above 60 years (taking into account a suitable age 
                  difference between the child & mother/father).<br/>The Kafala Families Committee stipulated in Article (93) may grant an exemption from the condition that the marriage lasts for a period of at least three years, 
                  in the event that the permanent infertility of one of the spouses is proven. The Committee may also overrule the inadmissibility of the age
                  of both spouses in the Kafala family to be over sixty years, based on the results of the conducted social research.
               </li>
               <br/><br/>
               <li>
                  In exception to the above mentioned, widows, divorced women, and those who have never been married and have reached at least thirty years of age, 
                  are entitled to Kafala adoption if the Committee deems them fit for this.
               </li>
               <br/><br/>
               <li>
                  The family/individual requesting Kafala should have the social, psychological, health & material capacity to care for & provide the needs of the child.
               </li>
               <br/><br/>
               <li>The number of children in the family should not exceed two unless they have reached a stage of independence. The family is not permitted to care for more than one child or two siblings
                  without the approval of the Directorate of Social Solidarity.
               </li>
               <br/><br/>
               <li>
                  The family must reside within a suitable community/environment in which educational, religious, medical and sports 
                  institutions are available, and they must meet the required health standards within the home and among family members.
               </li>
               <br/><br/>
               <li>
                  The family income must be sufficient to meet its needs, where obtaining care allowance is not its main objective, but rather considered as an assisting element in providing care to the child.
               </li>
               <br/><br/>
               <li>
                  The Kafala family is obligated to facilitate the job of the social workers of the Ministry of Social Solidarity, the Higher Committee for Alternative Families, the Family and Childhood Department of the Social Solidarity Directorates, or the national associations and NGO’s in their supervision and field visits to the Kafala family and the child, as well as, their follow-up procedures as in line with mandated confidentiality and professional measures.
               </li>
               <br/><br/>
               <li>
                  The Kafala family circumstances and time must allow them to care for the child.
               </li>
               <br/><br/>
               <li>
                  The Kafala family is obligated to accept the supervision carried out by representatives of the Family and Childhood Administration from the MOSS, and this supervision includes visiting the family home, interviewing the child in care and following up on the child’s condition without violating confidentiality.
                  If the child is known (related) to the Kafala family, they are obligated to communicate the child’s affairs strictly through the Family and Childhood Department, and it is prohibited to hand the child over to anyone else, even if to one or both of the parents, or to any other person except through the Family and Childhood Department.
               </li>
               <br/><br/>
               <li>
                  The Kafala family should agree to cooperate with the Department of Family and Childhood in setting plans for the benefit of the child in care, including plans regarding the child’s return to his/her family or his/her transfer to another foster “Kafala” home or social institution.
                  The family is to pledge in writing to preserve the child’s lineage.
               </li>
               <br/><br/>
               <li>
                  The spouses must hold a high school diploma or equivalent as a minimum requirement.
               </li>
               <br/><br/>
               <li>
                  The family wishing to adopt a child must pass the training course organized by the Ministry of Social Solidarity.
               </li>
               <br/><br/>
               <li>
                  The Committee referred to in this article may allow for exceptions in some of the conditions stated in the second and fourth articles, based on the results obtained through the social research/investigations.
               </li>
               <br/><br/>
               <li>
                  The foster father may continue to provide care temporarily in the event of the death of the foster mother, upon the approval of the Supreme Committee for Alternative Families.
               </li>
               <br/><br/>
               <li>
                  The Kafala family may perform the duties of child care without compensation. Also, the family is entitled to include the child in its will or gift him/her property in the amount desired within the set legal limits.
               </li>
               <br/><br/>
               <li>
                  It is also permitted to save monetary sums for the child in care by submitting them periodically to the Family and Childhood Administration. The administration must add these sums to the child’s account in a savings fund - referred to in Article (95) of these regulations. It is not permitted to withdraw from these deposited sums without providing the necessary justifications for this, upon which approval may be granted by the Chair of the Alternative Care Committee.
               </li>
               <br/><br/>
               <li>
                  If either a male or female child is an orphan or of unknown descent, it is permitted that he/she carry the surname of the Kafala family, and this is to be documented in the child’s file without affecting the adoption process in any way.
               </li>
               <br/><br/>
               <li>
                  The Kafala family is obligated to notify the relevant Family and Childhood Administration immediately regarding any social/financial status or address changes, as well as any changes affecting the conditions of the child in care, such as being employed, being enrolled in a school, running away from home, dying, or getting married, in the case of girls.
               </li>
               <br/><br/>
               <li>
                  The Kafala family may not travel abroad - with or without the child in care – without the prior written consent of the Family and Childhood Department of the relevant Social Solidarity Directorate.
               </li>
               <br/><br/>
            </div>
            <div class="card-footer text-muted">
               Source: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%>
            </div>
         </div>
      </div>
   </div>
</div>