<h1 class="text-center mt-4">Fatima's Mom Story</h1>
<div class="container">
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-body">
               <%= image_tag("st4.jpg")%><br/><br/>
               <div class="text-left">
                  <p>
                     Today, I am going to share a story with you. Something that changed my life. My dream, that finally came true. I know we all have dreams. Little girls daydreaming about white wedding 
                     dresses and Prince Charming, and a lovely family home full of kids. But for some reason, that’s not the dream that came true for me. I told myself God has a wisdom behind everything happens. My dream became a reality when I was working as a private tutor in my house. 
                     I used to teach many kids and found myself quickly falling in love with them. I treated them as though they were my own flesh and blood, and seeing go left an ache in my heart.
                  </p>
                  <br/>
                  <p>
                     This was a constant feeling and I wasn’t happy with it, so I decided to have my own child to love and care for 
                     unconditionally. I decided to adopt and took the first step of searching for an orphanage to adopt (kafala) a child, 
                     but the fact that I am not married was an obstacle. So, I thought about caring for a child in 
                     an orphanage and visiting them every day. At that point, all I really yearned for was the moment I heard the word “Mum,” 
                     like all mothers. I wanted to breastfeed, care for the child and raise them. I wanted to have that 
                     lovely responsibility.But then I read a post about a divorced mother who adopted a boy called Mohannad. 
                     It was Shaimaa who saved me from the maze I was lost in. 
                     I started asking her a bunch of questions, and she was open and honest with me. 
                  </p>
                  <br/>
                  <p>
                     I then made the decision to adopt and reached out to Youmna Dahroog, who explained everything to me. Finally, it was time to tell my family about the whole thing. Surprisingly, they refused the idea, turning away from it because I am a girl from a rural community that wouldn’t accept a single mother adopting (kafala) a child. But I didn’t give up and insisted, especially after dreaming of Fatima, someone I hadn’t even seen or met yet. I was planning on naming my baby girl Fatima after my late mother.Then I started dreaming of Fatima laughing, crying, and playing. Dreamt about her everywhere in the house. 
                     The day social services visited me was the worst day of my life. I had a feeling they would reject my 
                     application and I was left hopeless. 
                  </p>
                  <br/>
                  <p>
                     I felt as though I was going to die. Just die. My dream was slipping through my fingers. My dream of Fatima crying, laughing and, playing. I dreamt of her and hadn’t even seen her. I dreamt of her while I was walking down the street and while I was sleeping. I would wake up, completely freaked out, because I heard a baby crying, but I when I looked beside me, I was alone.And the day social services came, my dreams were shattered. The problem was no longer just my family, but also social services rejecting me. I felt like I was literally dying. I felt like I was losing everything.Suddenly, an angel appeared in my life.
                  </p>
                  <br/>
                  <p>
                     You know, the kind of angel that lifts you from the that feeling of utter loss. Rasha Mekky. She was my angel. She saw a post I’d written and made a comment. I felt like she was my sister. My mother. As though she was that part of me that completely understood my pain. She’s rare. She said, “I saw your post and I was heartbroken for you.” I was touched. Who’s heartbroken for someone they’d never met? And without asking, she helped me through the adoption process. Step-by-step.And guess what? I got the approval! Finally!I was on top of the world knowing I could go see Fatima.
                  </p>
                  <br/>
                  <p>
                     I was on cloud nine but also didn’t know how to feel. I asked myself if I’d be able to support her in becoming the best version of herself; if I would be able to give her the attention she needed; and properly guide her through life.When I arrived at the orphanage, I kept talking to one of the babies. I wasn’t sure if she was Fatima. I was about to leave, when she kissed me. She kissed me as though she were saying, “don’t leave me.” Someone at the orphanage asked me, “is this your daughter?”I didn’t know what to make of it, so I left. As I was leaving, she called out to me, "Mama."
                  </p>
                  <br/>
                  <p>
                     I went back and just wanted to open heart to her. Keep her safe in there. She’s my daughter! She’s Fatima. She’s my path to heaven. And I’ve never been as happy in my life as I have been in the past five months with Fatima. I have a girl who calls me Mama and hugs me when I cry. I could write you a poem about that hug. It’s worth more to me than this whole world. She’s made joy and happiness the main themes to every passing moment in my life. I fear for her from the wind itself. She’s the daughter of my heart, and for that I love her.May God bless her and keep us together forever. And may He make her the best woman the world has ever set eyes on.
                  </p>
               </div>
            </div>
            <div class="card-footer text-muted">
               Permission granted directly by: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%><br/>
               to include the story in this website
            </div>
         </div>
      </div>
   </div>
</div>