<h1 class="text-center mt-4">Baby Hamza's Story</h1>
<div class="container">
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-body">
               <%= image_tag("st5.jpg")%><br/><br/>
               <div class="text-left">
                  <p>
                     I’ll start my story from when I got married and found out my husband and me couldn’t conceive. People made unnecessary comments, 
                     gave us sad looks, and treated us pitifully. You know, the way people do when they feel bad for someone. 
                     We suffered. People didn’t spare me comments like, “keep yourself busy by working,” “you poor thing, you’re all alone,” “are you receiving treatment?” “is there a baby on the way?”I can’t forget what my mother-in-law 
                     said on my third wedding anniversary. “I want a grandchild. This is your third wedding anniversary. How long will I have to wait?” 
                     My husband literally collapsed. Every two days he would broach the topic of divorce so we wouldn’t have to deal with people’s comments, 
                     until one day I thought of adoption(kafala). 
                  </p>
                  <br/>
                  <p>
                     I didn’t even know that was an available option in Egypt. When I started asking several people about adoption(kafala), people said it was Islamically forbidden. 
                     If you want to foster a child, you can only financially support them and visit them while they live in the orphanage. 
                     I started to feel hopeless and seriously consider separating from my husband. At least I’d be single, and no one would wonder why I don’t have children. 
                     That’s all until I saw a YouTube video about a Kuwaiti couple that adopted or did kafala. I was surprised to find out I could adopt/do kafala. 
                     That I could have my child live at home with me and not just visit them at the orphanage in Egypt.I started reading about adoptive parents and befriending them. We became friends. They told me about adoption(kafala) and about their sons and daughters.
                     They confided in me about their noble and honest intentions, and completely changed the way I think. At first, I wanted to adopt/do kafala to shut people up and save my marriage, but my new friends convinced me that that’s not how adoption works. 
                  </p>
                  <br/>
                  <p>
                     To adopt, you must love the concept of adoption.I fell in love with the idea of saving a child who would otherwise live alone, without a father and 
                     mother. I fell in love with the fact that adoption(kafala) is a gateway to heaven. I fell in love with the idea that people and their comments are unimportant. 
                     I will adopt so my son or daughter can live with me in my arms, where I can enjoy them.I spoke with my husband and we started the adoption process. We were weary at first because the process consisted of insurance papers, financial documents and governmental paperwork, but every step was easy and blessed. It took two months and, finally, the moment I was waiting for had arrived. We got the approval!I won’t lie. I wanted a girl. I even chose her name and decorated room before going to Dar El Orman, an orphanage. We spoke to the manager who surprised us when she said there were no girls, just boys. I looked at my husband,
                     whose whole face changed and looked as though he was ready to leave, but I pretended not to see him. I told the manager I’d like to see the boys.
                  </p>
                  <br/>
                  <p>
                     The manager was very pleased to hear me say so. My husband was upset with what I said, and in his eyes, I could see what he couldn’t say,
                     “Didn’t we say we’d get a girl?”We entered the reception area and the caretakers started bringing in the children. 
                     My heart was pounding profusely. Seven precious angels not even four months old. My heart was struck with devastation. 
                     “How can something so adorable and innocent be abandoned?” I wanted to take them all home, tell them I love them, and that I’d never let them go. 
                     Then I came back to the reality of my situation. I didn’t have the capability of taking them all with me, and I was allowed only one legally.
                     All this stirred in my mind, and I’d completely forgotten about my husband.I got up to look for him. I found him sitting in a chair, holding a child 
                     and crying. I was shocked. My husband who I’d only seen cry once during our four-year marriage was crying in front of people! I went to him, gently caressed him and asked him what he was feeling. He felt what I was feeling. He wanted to help all the babies and was devastated because he couldn’t. He wiped his tears, 
                     kissed the baby he was holding and tanked the manager. He told her he was sorry, and that he had intended on adopting/doing kafala with a girl.
                  </p>
                  <br/>
                  <p>
                     The manager was a very understanding woman. She respected our wishes and gave us the address of another orphanage that had three girls. 
                     We thanked her and were on our way. And despite the sadness and heartbreak we felt at the first orphanage, we were still very excited 
                     because we were getting closer to our baby girl. We were on our way to her. We spoke to the manager at the second orphanage and explained our 
                     circumstances, then she took us upstairs to see them. They were three budding flowers, each more beautiful than the other. 
                     A three-month old, a four-month old, and a six-month old. We loved them. We picked them up and searched for an emotional connection 
                     with them but, as beautiful as they were, I didn’t feel I was their mother. I started to doubt myself and what my friends had told me, 
                     that I would feel as though I was my daughter’s mother as soon as I held her. I started to get nervous and looked to my husband who understood 
                     me without me having to say a word. He said, “We’re not going to take home a baby 
                     we don’t feel is our daughter, just for the sake of adopting or doing kafala, even if that means going to another orphanage.”
                  </p>
                  <br/>
                  <p>
                     The manager took notice of the situation and told us to take a look at the boys, but we said we intended on 
                     adopting a girl. She gave me an odd smile and said, with confidence, just take my advice. We were desperate and for 
                     that reason we listened to her, as well as appeasing her ego. They brought in the boys and they were adorable, 
                     but I didn’t feel what I was meant to feel. My eyes started to tear up and I was about to cry. 
                     I said thank you and got up to leave. My husband caught my arm and turned to the manager and said, 
                     “Are these the only children you have?” She said, “yes,” and my husband apologized for taking up her time. 
                     As we were leaving, a caretaker came out with a huge blanket. It didn’t look as though a child could be nestled between it. 
                     I couldn’t see a single body part. Not an arm. Not a leg. Not a head. Just an empty blanket. The caretaker said, “Hey, look who 
                     I found hiding in bed?” And she plopped the blanket in my arms. I shifted part of the blanket a bit and there he was. God bless him! 
                     I saw the most beautiful thing I’d ever seen in my life and the first thing I said to him was, “my son.”I sat down and couldn’t take my eyes 
                     off of his small face. I could barely see any of his tiny features. I didn’t realize I started speaking out loud in front of everyone. 
                     “I’m in love with you. You’re my angel. I’m Mama Hamza.” I didn’t come back to my senses until my husband took me into his arms and said, 
                     “All praise God. 
                     All praise God. We found our son. He was destined for us and we were destined for him. 
                     Our destinies have finally been unified. Our family is whole. 
                  </p>
                  <br/>
                  <p>
                     We’re a mother and a father.”Hamza was really tiny, only seven days old. We had to wait three 
                     months to take him home, per the old procedure guidelines. “Three months, Hamza! I swear the three months felt like three years.” 
                     I visited him every single day and cried every time I left him. Everyone at the orphanage knew me. I went out and bought him is tiny clothes 
                     and began taking hormones with a specialist so that I could breastfeed him. We told our family and started sending them pictures of Hamza. 
                     My phone had pictures and videos of only Hamza. Then the much-anticipated day arrived. The day I could take him home. I was going to go into that 
                     orphanage alone for the 
                     last time and leave with Hamza for the first time. I couldn’t explain nor contain my joy. My heart was racing.
                  </p>
                  <br/>
                  <p>
                     My heart was overflowing with so much love, it spilled onto the people and objects surrounding me. When I reached the orphanage and had him in my arms,
                     I felt peace. “Finally, you will never leave my arms again. Finally, no one can take you from me and say the visit is over. Finally, 
                     you’ll come with me and I’ll be able to see you whenever I want. You’ll be right before my eyes: every day, every minute, and every second.”I took
                     my son and he was finally in my arms. And from that day until today, the best chapter of my life began.
                     “May God keep us together; and keep you safe; and make you a good son to your father and I; and make you the reason your father and I go 
                     to heaven. We love you.”
                  </p>
               </div>
            </div>
            <div class="card-footer text-muted">
               Permission granted directly by: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%><br/>
               to include the story in this website
            </div>
         </div>
      </div>
   </div>
</div>