<div class="container" id="home-container">
   <div class="jumbotron text-center text-white font-weight-bold">
      <h1 class="display-4 font-weight-bold">CODE Challenge</h1>
      <p class="lead font-weight-bold">This website contains all the information about orphanages in Egypt and their needs.</p>
      <hr class="my-4">
      <p>It also includes information about Kafala and different volunteering methods.</p>
      <%if logged_in? == false%>
         <%= link_to "Register as an orphanage!", orphanages_signup_path, class: "btn btn-success btn-lg" %>
         <%= link_to "Sign up as a volunteer!", volunteers_signup_path, class: "btn btn-success btn-lg" %>
      <%end%>
   </div>
</div>