<h1 class="text-center mt-4">Mommy Marwa's Story</h1>
<div class="container">
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-body">
               <%= image_tag("st3.jpg")%><br/><br/>
               <div class="text-left">
                  <p>
                     Marwa's Story: I want to tell you my story. My name is Marwa and I’m seven-months old. Yeah, don’t be surprised that I was born 
                     only seven months ago. That other number I use, is just something to put on legal paperwork and my ID card. 
                     I was born the first night my son fell asleep in my arms. When both our breaths became one. 
                     When I heard his heart beating. The first month was really, really hard on both of us. Each of us afraid of the other. 
                  </p>
                  <br/>
                  <p>
                     He was afraid and distanced himself from everything around him: the house was new for him, his bed, and me.I, too, was afraid. 
                     Yes, afraid, because I’m no superwoman. Sometimes I used to fear failing and then I’d tell myself, 
                     “What would I do if I fail?”The first month was hard for both him and me. But now, and after seven months, 
                     I learned the true meaning of happiness.
                  </p>
                  <br/>
                  <p>
                     The kind of joy that overflows your heart. It’s when I open my eyes to see his small face laughing. It’s when I feed him, 
                     and he feeds me while gently caressing me. I learned about a joy that had abandoned me but came back to illuminate my life. When Yehya 
                     brought light into my life, he revived my heart. And with his innocence, erased all the pain I’d ever gone through. Oh, and to top it off, 
                     how bewildering it is to realize a person as big as the palm of your hand can be your whole world. And with his love, 
                     I began rearranging how I prioritized things in my life. Yehya has become the center of my world and anything else comes after him.
                  </p>
                  <br/>
                  <p>
                     He erased all that I lost in my life and pain I endured with his innocence. 
                     This experience can be scary or risky for some and you may want to flee, but in all honesty, it’s a risk worth taking. 
                     It’s worth taking the chance a deciding to adopt/do kafala. Not just for the sake of the child you’ll take home, 
                     but to also hold them and be held by them. Because it’s Yehya who helped me heal and enabled me to find myself after 41 years.
                  </p>
               </div>
            </div>
            <div class="card-footer text-muted">
               Permission granted directly by: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%><br/>
               to include the story in this website
            </div>
         </div>
      </div>
   </div>
</div>