<h1 class="text-center mt-4">Procedures and Documents Required</h1>
<div class="container">
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               The procedures required
            </div>
            <div class="card-body text-left">
               <li>The family applies to the social administration within the geographical location of their residence.</li>
               <br/><br/>
               <li>The family and social worker from the Social Administration conduct field research to ensure that the family meets the conditions mentioned above.
               </li>
               <br/><br/>
               <li>
                  A memorandum with the required documents and a report on her social status is prepared for presentation to the local committee for alternative care headed by Mr. / Director of the Directorate of Social Affairs to decide on the matter.
               </li>
               <br/><br/>
               <li>
                  When the committee agrees to hand over the family to the child, he receives it either from maternity and childhood centers or from residential shelters and care is carried out within the family either as alternative families without pay (sponsoring the child within the family as a member of their children and does not receive a fee for their care for him) or for a fee (where the mother The alternative is a symbolic reward in exchange for the end of supervision after the independence of the children by marriage to the daughters and work for the children).
               </li>
               <br/><br/>
               <li>Writing a care contract between the surrogate family and the family and childhood administration in the directorate
               </li>
            </div>
            <div class="card-footer text-muted">
               Source: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%>
            </div>
         </div>
      </div>
   </div>
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               Required documents
            </div>
            <div class="card-body text-left">
               <li>Government identification card copy of the husband and wife.</li>
               <li>Copy of the marriage certificate.</li>
               <li>
                  A personal photo of the husband and wife.
               </li>
               <li>
                  Lease contract or ownership of the apartment.
               </li>
               <li>Electricity bill.
               </li>
               <li>
                  Report of salary or pension for the spouses if they work or only the husband
               </li>
            </div>
            <div class="card-footer text-muted">
               Source: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%>
            </div>
         </div>
      </div>
   </div>
</div>