<h1 class="text-center mt-4">Sara's Story</h1>
<div class="container">
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-body">
               <%= image_tag("st6.jpg")%><br/><br/>
               <div class="text-left">
                  <p>
                     *The name has been changed to conceal the person’s identity.<br/><br/>
                     I really can’t remember my age the moment I found out, maybe first or second grade. It was the moment my adoptive 
                     family bombarded me with the truth. The death of my biological family in an accident.From that moment on, my mind spiraled. 
                     I couldn’t stop asking myself one question, “how did I survive this accident?The shock was agonizing. 
                     It was a tough ordeal. I can’t recall the number of years I fell asleep while crying. I couldn’t imagine ever losing my adoptive parents. 
                     The whole thing affected me psychologically, physically, and socially. I changed. I grew silent, incapable of connecting with anyone around me. 
                     I started losing my appetite. I didn’t eat much, and I threw out what little I had in my plate. I was suffering from an eating disorder. 
                     I wasn’t aware that I was experiencing an eating disorder. I didn’t understand what was happening, or maybe I just didn’t care to understand. 
                     All I thought was, 
                     “we get punished when we do wrong things, maybe I’m a bad person and that’s the reason all these things are happening to me.
                  </p>
                  <br/>
                  <p>
                     ”Sometimes I feel I don’t deserve anything. I don’t deserve all what my adoptive parents do for me. I don’t even deserve their love, because, 
                     like I said, I’m a bad person.And that’s besides all the situations I encountered in life because of my appearance, weight and attitude. 
                     I couldn’t decipher if my childhood was good or bad.’My real problem is that my parents didn’t help me. I didn’t know if they thought this was normal, 
                     or that I might forget. I really don’t know to be honest. I wish they could have told me the whole truth. I would have accepted it, just like 
                     I accepted their story about the accident. I mean, I don’t have another choice. But I needed someone to explain that this would be a difficult 
                     ordeal and that it wasn’t my fault and that I’m not bad. I needed someone to explain that there are many like me. I needed someone to make me fall 
                     in love with the idea of adoption (kafala). What I really disapproved of, was every time I’d ask for more specifics about the accident, 
                     my parents would yell at me.Asking them meant I was wronging them somehow, or blaming them for wronging me, or something of the sort, 
                     but that idea never occurred to me.
                  </p>
                  <br/>
                  <p>
                     I just wanted to know what really happened and it was my right to know.It’s frightening to me that 
                     government employees suggest adoptive parents tell their child their biological parents died in an 
                     accident because it left me with the hope that I’ll meet them when I die.I always dream that I’ll meet my mother in heaven. 
                     I spend a lot of time imagining what we’ll look like when we meet in heaven. I feel comforted when I do this. 
                     I smile because I feel as though I won’t ever be afraid again. I won’t ever be sad again. I won’t ever lose anyone again. 
                     But if I say that to my family now, they’ll get upset.I yearn for them to understand that just like a mother and father 
                     love all their children equally, I too can love two families equally. I want them to know they represent so much to me because 
                     at the end of the day, I am who I am because of their hard work. If I adopted/did kafala for a child, I would truly feel like 
                     the happiest person in the world 
                     because I’m sure I’ll relay all the feelings of love I have for adoption (kafala) that I couldn’t express when I was young.
                  </p>
                  <br/>
                  <p>
                     I would definitely read books or learn the right way to raise my child in an environment that will make 
                     them love adoption (kafala). This will produce a person who is balanced and who doesn’t feel like there’s anything missing 
                     from their life. And that child will have the right to miss their biological family. I will respect that. If they have any questions, 
                     I will be happy to discuss those answers. I’d let my child know, that just because they’re adopted, doesn’t mean anything is wrong with them. 
                     They’re just special. My love for them is unconditional. I love them for who they are. This will make my child love themselves. 
                     It will give them confidence in themselves and those around them.I know these instances may be traumatic. I’d take my child to a mental 
                     health specialist if I felt some of their ideas seemed negative. The most important thing, though, is that they feel they can 
                     share all their feelings with me, no matter the subject. Without fear. Kafala (adoption) is generally a beautiful thing, 
                     but at the end of the day, just as it has its positive effects, it also has its negative ones.And no matter what, 
                     every child deserves to know the truth about themselves, love it, accept it, and also feel love from those around them. 
                  </p>
               </div>
            </div>
            <div class="card-footer text-muted">
               Permission granted directly by: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%><br/>
               to include the story in this website
            </div>
         </div>
      </div>
   </div>
</div>