<h1 class="text-center mt-4">Baby Mostafa's Story</h1>
<div class="container">
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               <%=link_to "Baby Mostafa's Story", '/Shaymaa_Story' %>
            </div>
            <div class="card-body">
               <%= image_tag("st1.jpg")%><br/><br/>
               <div class="text-left">
               <p>
               I don’t know where to start... My story with adoption or Islamic Kafala began six years ago, when my husband, Mohamed, and I adopted our only son, Mustafa.  
               Since I was a little child, I used to dream of having lots of children. I was the oldest of all the children in my Mom and Dad’s extended family, 
               and everyone knew that I'd get married and fill the family house with kids. Well, I did get married quite young, in fact, 
               in my twenties, and my husband and I travelled to San Francisco. 
               </p><br/>

               <p>
               With my first husband, everything changed. I shifted careers, going from tourism to studying child development, and later opening a day care business. 
               Soon after, I found out that I had endometriosis, which is a chronic disease in which the uterine's inner lining tissue grows outside the uterus, in the 
               fallopian tube or the ovaries, for example. Because of this, my chances of getting pregnant were very slim.
               </p><br/>

               <p>
               Of course, I didn’t just lose hope, and instead got sucked into a whirlpool of IVF procedures for eleven years, undergoing four 
               trials in an attempt to get pregnant. This period in my life exhausted me, both financially and emotionally, 
               and I ended up getting a divorce in 2004, and starting a new chapter in my life. I went back to Egypt and wanted 
               to distance myself from children a bit, taking on a new job in HR at the American University in Cairo.  In 2012, my life took a 
               180° turn after meeting Mohamed Eleraky and getting married to him. 
               Although he already had two girls from a previous marriage, he was the one who opened my eyes about Kafala adoption.
               </p><br/>

               <p>
                He knew well that my entire life revolved around children and that I would never forget my dream of being a mother. He was the one to start searching and asking questions to know everything he possibly could about 
                Kafala adoption in Egypt. It took a full year to complete all the paperwork and procedures, and finally, we were permitted to adopt a child, 
                after receiving the “viewing letter.” That was when all the feelings of fear and anxiety got a hold of me, and I kept asking myself, 
                “Am I up to this? Will I be able to raise a child and play with it, being 45-years-old? Should I just remain on my own or pursue my 
                dream of being a mother?” In the end, Mohamed’s encouragement and my intense desire to be a mommy won out, and we began our rounds of 
                visits to the care homes so that we could find our child.
               </p><br/>

                <p>
                At first, I wanted to have a daughter, a dark-featured beauty who would look like me and Mohamed. I had actually been buying girls 
                clothes over the years, hoping that God would give me my own biological child, but that never happened. So during my visits, 
                I would go to the floor with only girls in it, and I would mostly visit the FACE orphanage in Maadi.  In the beginning, I was 
                expecting that when I chose the baby it would be because my heart skipped a beat and I felt a connection, but that didn’t happen. 
                I chose a lovely dark girl that looked like us, but I felt nothing, and thought maybe this feeling was normal. 
                Then I found out that there were two newborns, a girl and a boy, expected to arrive at the home the next day, and I made sure to go the next day to see the baby girl. 
                </p><br/>

                <p>
                When I saw her, I found she was blond and blue-eyed, and looked nothing like us - and for a moment, 
                I lost hope that I would find the child I had been dreaming to find. I turned my head to look 
                toward the bed next to the baby girl’s, where the boy was - and there he was, eyes wide open, gazing at me intently. 
                And to my surprise, as I looked at him, my heart skipped a beat, and I knew instantly that this was my son. 
                I didn’t leave his side, carrying him close for five hours, feeding him and changing him. I was so scared that 
                someone else would take him, and I kept after the home till they changed the name of the baby in the paperwork, 
                from the name of the baby girl that I had previously chosen to his name instead.  When I told my husband and my 
                friends that I had chosen a baby boy, nobody believed me, because they all knew I had wanted a girl all along. 
                But this is what happened instead, and Mustafa was destined to be my boy.
                </p><br/>

                <p>
                I wanted to live the complete experience of being a mother, so I went to a gynecologist to start a program to induce lactation so 
                I could breastfeed him myself. And when we finally took Mustafa home, my life was whole. 
                I had finally realized my lifelong dream. Throughout my life, everyone around me always thought I had everything, 
                a good job, I travelled a lot, I looked younger than my age. But all along, there was something missing; something 
                that made me not feel the value in everything else I had. When Mustafa entered my life, he made it complete by being in it. 
                And although I have gained weight and my anxiety increased, worrying over him and his future, I am overjoyed at experiencing 
                this alternative motherhood. Kafala is not at all an easy undertaking, but it is so worth it. I always look at him and smile, 
                asking myself what absolutely amazing thing had I ever done in my life to deserve all this. After four months, 
                we travelled to the US again, and with us we had the latest member of our little family. 
                </p><br/>

                <p>
                Living abroad got us into a new hassle of procedures so that Mustafa can be with us. I believe in total honestly, 
                and so I share my experience with everyone I know, with my family, at work and on social media. And so, I created the 
                Facebook page Adoption story in Egypt, and I'm currently setting up a website in Arabic and English that includes 
                all the information about Kafala. I want people to know about Kafala adoption in Egypt, I wish for all children to 
                find a loving home and a normal family life.  Every night before bedtime, I tell Mustafa his real story, 
                so that he knows and is aware of everything. I’m positive that when he’s older, he will help me in all this. 
                </p><br/>

                <p>
                He loves his dad so much and considers him his role model, and Mohamed is always with him in everything he loves, 
                like soccer and swimming, never saying no to doing any of it. Mohamed’s feelings for Mustafa are no different 
                from those for his daughters. He always says that he feels as though his wife was pregnant while he was away, 
                travelling, and that when he got back, he found a beautiful baby boy to fill their lives with joy. 
                Mustafa wishes we would adopt more children, and if I had known about Kafala earlier, I would have adopted more children. 
                This is why people in Egypt need to know more about it, so we can help more and more children find happy homes.
                </p>
                </div>
            </div>
            <div class="card-footer text-muted">
               Permission granted directly by: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%><br/>
               to include the story in this website
            </div>
         </div>
      </div>
   </div>
</div>