<h1 class="text-center mt-4">Know more about Kafala</h1>
<div class="container">
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-header font-italic">
               What does Kafala (Islamic Adoption) mean?
            </div>
            <div class="card-body text-left">
               <p>Adoption is the formal, permanent transfer of parental rights to a family other than a child’s own and the formal assumption by that family of all parenting duties for the child. 
                  In some Islamic countries; including Egypt, the term ‘Kafala’ of Islamic law is used to describe a situation similar to adoption, but not necessarily with the transference of inheritance rights, 
                  or the change of the child’s full name.
               </p>
               <br/> 
               <p>Despite Kafala being strongly encouraged in Islam there have been a misleading <b>CULTURAL</b> perception about its true meaning, 
                  practice, and significance. As a result, our innocent children have been under institutionalized care of orphanages rather 
                  than being granted a warm family life and home.
               </p>
               <br/>
               <p>From Sahl bin Sa’ad (may Allah be pleased with him), he said:<br/>
                  <b>“The Messenger of Allah sallallaahu ‘alaihi wa sallamsaid: “I and the one who looks after an orphan will be like this in Paradise,” showing his middle and index fingers and separating them.” [Sahih al-Bukhari]</b><br/>
                  This great hadith indicates the magnitude and virtue of the person sponsoring orphans, so that Imam al-Bukhari rahimahullaah puts it in the chapter: The Virtue of the People Who Care for the Orphans. 
                  Some of the essential phrases contained in this hadith are:
               </p>
               <br/>
               <li>
                  The meaning of this hadith: the person who sponsors the orphans worldly concerns will occupy a high position in the heaven close to the position of the Prophet sallallaahu ‘alaihi wa sallam.
               </li>
               <br/>
               <li>
                  The meaning of “caring for the orphans” is to take care of and support all their worldly interests, such as feeding (food and drink), 
                  clothing, nurturing and guiding them with proper Islamic education.
               </li>
               <br/>
               <li>The meaning of an orphan is a person who has lost his father or both his parents before the age of maturity</li>
               <br/>
               <li>The virtue in this hadith applies to the person who sponsors the orphans from his own property or the orphan’s property if 
                  the person is truly the one to whom he is sponsored.
               </li>
               <br/>
               <li>
                  Similarly, this excellence applies to people who sponsor an orphan having kin relationship with him or with an orphan who has no kinship ties with them
               </li>
               <br/>
               There are several points to consider in terms of sponsoring the orphans, which is often the case of “adopted children”, due to some Muslims’ misunderstanding of the rulings of Islamic law. Among them are:<br/>
               <li> Prohibition of presenting a foster child / adopted child to other than his biological father, based on the word of Allah:<br/>
                  <b>“Call them by [the names of] their fathers; it is more just in the sight of Allah. But if you do not know their fathers – then they are [still] your brothers in religion and those entrusted to you. 
                  And there is no blame upon you for that in which you have erred but [only for] what your hearts intended. And ever is Allah Forgiving and Merciful.” 
                  [al-Ahzab, 33: 5]</b>
               </li>
               <br/>
               <li>Adopted children are not entitled to the inheritance of the parents who nurtured them, in contrast to the customs of the time of Jahiliyyah who regarded adopted children as biological children who were entitled to inheritance when their adoptive parents died.</li>
               <br/>
               <li>
                  Adopted child is not a mahram, so it is obligatory for parents who nurture him/her and their children to wear a hijab in front of the adoption, as when they are in front of other non-mahram. This is contrary to the customs in the time of Jahiliyyah.
               </li>
            </div>
            <div class="card-footer text-muted">
               [Copied from as-Sunnah magazine (published in Indonesia), 11th Edition / Year XV / Rabi’ul Akhir 1433 AH / 2012.
               Publisher: Lajnah Istiqomah Foundation Surakarta, Solo-Purwodadi Street km. 8, Selokaton, Gondangrejo, Solo – 57183.]<br/>
               Source: <%=link_to 'almanhaj.or.id', 'https://almanhaj.or.id/3364-keutamaan-menyantuni-anak-yatim.html', class: 'font-italic'%>
            </div>
         </div>
      </div>
   </div>
</div>