<h1 class="text-center mt-4">Mommy Yasmina's Story</h1>
<div class="container">
   <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
         <div class="card text-center shadow mb-5 bg-white rounded">
            <div class="card-body">
               <%= image_tag("st2.jpg")%><br/><br/>
               <div class="text-left">
                  <p>
                     I think my story all started 25 years ago... when I was in high school and our math teacher started the charity committee and took us to visit an orphanage... I was hooked!! All these babies with no homes or families... 
                     I knew back then, when I was 15 years old, that I wanted to help at least one of these babies... I was definitely going to adopt!!! not knowing when or how... I just knew I would
                     The years passed, I graduated college… I kept visiting that same 1st orphanage... kept following up with the girls as they grew up… I got my first job in 2001, 
                     at the exact same time my orphanage needed volunteers<br/><br/>
                     to go receive the new babies joining the family… I went with my mind set that I was going to use my very first hard earned salary to sponsor one of these babies, 
                     and I did… mind you as the years passed and our bond grew stronger, so did my bond with the rest of her 7 sisters sharing the same room… I saw that no matter how much love, time or money you give, it’s not the same as a loving home, a family of their own… Their life decisions were always with someone else... an employee! Out of my 8 girls, 
                     only 2 kept the bond and the relationship going and strong… my 2 girls are now 20 years old and both studying at Cairo university
                  </p>
                  <br/>
                  <p>
                     I tried to take both my girls in so many times over the years, at every milestone in their lives I would try… I would ask at MOSS, at the orphanage, my parents, but I always got the same answers... you can’t! it’s not allowed because you are single and too young! Why the heartache?! You are already doing too much for them! But it was never enough
                     I had planned to adopt when I get married and have my first child, to breastfeed them both together
                     but that never happened! I am now 40 and still single, strong, proud and happy with how my life has been so far… all my life choices, all my crazy endeavors, all my education and experiences have brought me here<br/><br/>
                     to this point and date when the rules finally changed in my favor… when I am finally allowed to adopt and care for a child, give her a chance at a normal life, the normal life she was denied the moment she took her first breath and was abandoned for whatever reason she did not have a say in
                     She was not only denied that normal loving life because she was abandoned, but because for the rest of her life too she will have to face and take insults for her beginning which she did not choose or do, she will depend on the charity of strangers, she will be brought up by foster “mothers” who are employed to care for her, who take scheduled monthly leaves regardless her emotional, health, educational or any other normal kiddo's need. “Mothers” who will leave to get married and be replaced by others all the time
                  </p>
                  <br/>
                  <p>
                     what kind of a childhood is that? What kind of a person would that result in? EVERY CHILD DESERVES A LOVING HOME AND FAMILY
                     I found out about the changed regulations in March 2020 through the Facebook page “An adoption story in Egypt” I followed Rasha Mekky and loved her story since the first day I found out about it... I got a hold of her mobile number and started chatting with her about my fears, what if’s? how can I’s? and is this the right thing for me? Everything she said was exactly what I needed to hear
                     The idea was revived; and in June 2020 I found by accident an online link for MOSS adoption requests... a link where you apply online
                     and it all started, I APPLIED… it actually started…<br/> <br/>I finally got off my butt and got the guts to go to the directorate and ask about the paperwork, process and documents needed on Tuesday June 23rd… all needed documents and lab tests I finished by the following Tuesday June 30th (mind you it was supposed to be a public holiday, but this year the day off was postponed to the following Thursday…am I lucky or is this just meant to be
                     ) and took my portfolio and handed it in… I was only missing my flats’ contract (it’s my grandfather's apartment, rental, and the contract has been lost since the 90’s :D) they were so helpful about it and found me a legal workaround; I signed an endorsement stating that I will inform them in case I change my place of residence at any time<br/><br/>
                     For the next steps, the employee created my file, called the social worker who will follow up with me, do the social visit and examination and told her to hurry up with my file, because the final committees where going to convene soon.
                     Now for my biggest fear, telling my dad!!! He was in Sahel at that time and I took myself and went to him over the weekend… of course he said “NO”... for 4 days I talked to him and he still said “NO”… he was scared of the responsibility, worried about me getting tired, not wanting me to bring heartache unto myself, not wanting me to lose my lifestyle which I love, why become a single mother? Its al<br/><br/>ready too much with both parents handling a kid!... but by the end of the 4th day when I had to come back for my social visit, his “NO” was more of a “let’s wait and see”, “InshaAllah”
                     YAAAAY it was not an assertive “NO” then... he was coming to and would be the greatest granddad to my daughter he already is to my nephews and niece
                     mind you it’s still not a YES… but also not a NO
                  </p>
                  <br/>
                  <p>
                     The following Sunday July 5th the social worker called me, I went to her office and we chatted a little then she scheduled my visit for Tuesday July 7th.  After the visit I want back to the directorate who informed me that the visit report was very positive and my committee date was the following Wednesday July 15th… July 15th is when my real family will start, I will have the document that allows me to go find my girl… find my baby... find my daughter
                     July 15th is the beginning of the rest of my life ND NOW I HAVE TO TELL MY DAD I GOT A RECORD PAPERWORK FINISHING TIME AT THE GOVERNMENT AND GO FIND MY BABY!! I didn’t tell my dad, but I did go baby hunting around Cairo
                     For the next week I saw more than 7 babies, aged 2.5 to 14 months, girls and boys, but my baby wasn’t there… she wasn’t in Cairo!
                     I got a call the week before from one of the other mothers looking for a baby girl as well, saying that she went to Suez and found 2 girls…
                     <br/> she was not sure how she felt about them and sent me their pictures… I told her to pray (estekhara) and go visit them again before she decides if she is unsure… she did and the day we received our acceptance letters, she called me again and told me she picked one and was now sure of it, and asked me if I found my baby girl, if not, maybe I would like to go with her to Suez and see “Mariam”… I remembered the pictures she had sent and that I had not felt anything about them at the time, so I asked her if she had other pictures and how old she was?!<br/><br/>
                     She sent me the cutest picture of a baby girl with huge eyes, and it felt like they were looking straight into my heart
                     my heart melted… then she told me she was exactly 27 days old… my brain froze and my heart skipped a beat! That makes her date of birth June 20 th … on Saturday, June 20 th I was awoken by a dream (and I am not one who dreams and wakes up remembering them!) a dream of my best friends’ late father waiting for me at the gates of heaven and taking me by the hand and sitting me next to Prophet Mohamed PBUH on an empty seat reserved just for me (قال صلى الله عليه وسلم: أنا وكافل اليتيم كهاتين في الجنة، واشار باصبعيه السبابة والوسطى)
                     And that was it, I went to Suez and she was the one… She was my daughter! (Ghalia) was mine
                     She is 1 months old, and I have to wait 2 months to get her
                     2 long months of scheduled visits and long trips form Cairo to Suez… the longest and loneliest 2 months of my existence! The waiting is killing me
                  </p>
                  <br/>
                  <p>
                     In the meantime I had started breastfeeding stimulation/lactation therapy with a specialist and am hoping to be able to breastfeed my baby for as long as she needs… breastfeeding creates a special bond between mother and child and I want that for us… breastfeeding gives the baby the best immunity boost that nothing else does, and I only want the best for my baby; she deserves nothing less and will get nothing less for the rest of her life… I will give her the best life I can, and so will my family
                     She is now ours and we are now hers! She now has a family to call her own forever
                     Welcome to our world baby (Ghalia)
                  </p>
               </div>
            </div>
            <div class="card-footer text-muted">
               Permission granted directly by: <%=link_to 'yallakafala', 'https://yallakafala.org/', class: 'font-italic'%><br/>
               to include the story in this website
            </div>
         </div>
      </div>
   </div>
</div>