<h1>
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Category</th>
                <th>body</th>
                <th>fulfilled</th>
                <th>Actions</th>
            </tr>
        </thead>
        <%@posts.each do |post|%>
            <tbody>
                <td><%=post.title%></td>
                <td><%=post.category%></td>
                <td><%=post.body%></td>
                <td><%=post.fulfilled%></td>
                <td>None for now</td>
            </tbody>
        <%end%>
    </table>
</h1>