<h1 class="text-center mt-4">Cases pending acceptance</h1>
<div class="flickr_pagination">
   <%= will_paginate @cases, :container => false %>
</div>
<%= render 'case'%>
<div class="flickr_pagination">
   <%= will_paginate @cases, :container => false %>
</div>

